<form action="/user" method="post">
  <input type="text" name="username" />
  <input type="text" name="password" />
  <input type="number" name="age" />
  <button type="submit">submit</button>
</form>
